/* Use Serif font for print results */
* { font-family: sans-serif; }

/* Centerize all */
body { text-align: center; }

/* Show speech buttons for webkit desktop only */
@media all and (-webkit-min-device-pixel-ratio:0) {
  .speech { display: inline; }
}
@-moz-document url-prefix() {
  .speech { display: none; }
}
@media all and (max-width:700px) {
  .speech { display: none; }
}

/* Invert SVG */
.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* Rotate gear */
#loading {
  -webkit-animation: rotation 4s infinite linear;
  display:none;
}
@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
