<!doctype html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" media="screen" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/main.css">
  </head>

  <body>
    <div class="container">
      <br>
      <div class="alert alert-danger">
        <strong>{{ error_code }} error</strong>
      </div>
      <button onclick="location.href='/';" class="btn btn-success">Go to home page</button>
    </div>
  </body>
</html>
