<!doctype html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" media="screen" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h2><a href="/" style="text-decoration: none">Search</a></h2>
      <form class="form-inline" action="" method="post">
        {{ form.csrf }}
        <div class="form-group">
          <input id="query" type="text" class="form-control" name="query" placeholder="Search for...">
          <button type="submit" class="btn btn-success" id="search"><img class="invert" src="static/search.svg" alt="Search" width="24" height="18"></button>
        </div>
        <div class="speech">
          <div class="form-group">
            Voice:
            <button type="button" id="en" class="btn btn-info lang"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="English" width="24" height="18"></button>
            <button type="button" id="ru" class="btn btn-info lang"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/ru.svg" alt="Russian" width="24" height="18"></button>
          </div>
        </div>
      </form>
      <br>
      <div id="loading"><img src="static/gear.svg" alt="Search" width="120" height="120"></div>
      <br>
      {% with queries = get_flashed_messages(category_filter=["query"]) %}
        {% if queries %}
          {% for msg in queries %}
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="panel-title">
                  <strong>Your query: </strong> {{ msg }}
                </div>
              </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% with queries = get_flashed_messages(category_filter=["didyoumean"]) %}
        {% if queries %}
          {% for msg in queries %}
            <div class="panel-body">
              <form action="" method="post">
                <input type="hidden" name="query" value="{{ msg }}">
                <strong>Did you mean: </strong>
                <button type="submit" class="btn btn-success">{{ msg }}</button>
              </form>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% with queries = get_flashed_messages(category_filter=["empty"]) %}
        {% if queries %}
          {% for msg in queries %}
            <div class="alert alert-danger">
              <strong>Error:</strong> {{ msg }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% with queries = get_flashed_messages(category_filter=["result"]) %}
        {% if queries %}
          {% for msg in queries %}
            <div class="panel-body">
              {{ msg | safe }}
              {% if "Try to search" not in msg and "No results" not in msg: %}
                <br><br>
                <button onclick="location.href='/print';" class="btn btn-info">Get printable result</button>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <br>
            </div>
    </div>
    <script src="static/speech.js"></script>
    <script src="static/animate.js"></script>
  </body>
</html>
