<!doctype html>
  <head>
    <title>Print</title>
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    {{ printmsg | safe }}
    <br><br>
    <a href="javascript:history.back()">Go back</a>
  </body>
</html>
